<div class="container-fluid f-contraste">
  <div class="row">
    <div class="col text-center">
      <h1 class="titulo subrayado">Donación de plasma</h1>
    </div>
  </div>
</div>
<div>
  <svg _ngcontent-ncw-c20="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
    <path _ngcontent-ncw-c20="" fill="#f1eef5" fill-opacity="1"
      d="M0,50L380,150L960,80L1950,128L1440,0L960,0L480,0L0,0Z">
    </path>
  </svg>
</div>
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="container">
        <div class="row">
          <section class="col-12">
            <div class="accordion mb-5" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong>¿Qué es el plasma?</strong>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                      El plasma es el componente líquido de la sangre en el que están suspendidos los glóbulos rojos,
                      los leucocitos y las plaquetas.
                    </p>
                    <p>
                      Está formado en un 90% por agua, además de sales minerales y proteínas necesarias para el buen
                      funcionamiento de nuestro organismo.
                    </p>
                    <ul class="mt-2">
                      <li><i class="peque fa-solid fa-heart me-2"></i>Las inmunoglobulinas cuya función es mantener el
                        equilibrio de nuestro sistema inmunitario
                        protegiéndonos de las infecciones.</li>
                      <li><i class="peque fa-solid fa-heart me-2"></i>
                        Los factores de coagulación, que se ocupan, al igual que las plaquetas, de detener las
                        hemorragias
                        cuando se produce un corte o herida.
                      </li>
                      <li><i class="peque fa-solid fa-heart me-2"></i>
                        La albúmina es la proteína más abundante del plasma (60%). Contribuye a mantener el líquido
                        dentro
                        de los vasos sanguíneos, evitando que atraviese las paredes de los vasos y se filtre hacia los
                        tejidos. También sirve para transportar diversas sustancias, como fármacos, hormonas o vitaminas
                        hasta los tejidos.
                      </li>
                    </ul>
                    <p class="mt-2">
                      Se obtiene a partir de las donaciones de sangre convencionales o tambien mediante donación por
                      aféresis, plasmaféresis.
                    </p>
                    <p>El plasma se congela a -40º hasta ser transfundido a los pacientes o manufacturado como fármacos.
                    </p>

                    <div class="container">
                      <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                          <figure class="mb-4 mt-4">
                            <img class="img-fluid" src="../../assets/imagenes/donacion-plasma/plasma.jpg" alt>
                            <figcaption>Plasma</figcaption>
                          </figure>
                        </div>
                        <div class="col-3"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="fondoAcordeon accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>¿Cómo se dona el plasma?</strong>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <p>
                            Para la donación de plasma o plasmaféresis se utiliza una máquina o separador. La sangre
                            sale de la vena del donante, al igual que en la donación de sangre convencional. La máquina
                            selecciona el plasma y devuelve al donante el resto de componentes sanguíneos.
                          </p>
                          <ul class="mt-2 mb-2">
                            <li><i class="peque fa-solid fa-heart me-2"></i>Este proceso dura en torno a unos 40
                              minutos.</li>
                            <li><i class="peque fa-solid fa-heart me-2"></i>
                              Al no donar hematíes, el número de donaciones que se pueden realizar al año es mayor que
                              cuando se trata de donación de sangre total o donación convencional.
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                          <figure class="mb-3 mt-2 me-3">
                            <img class="img-fluid" src="../../assets/imagenes/donacion-plasma/extraccion.jpg" alt>
                            <figcaption>Extracción</figcaption>
                          </figure>
                          <figure class="mb-3 mt-2">
                            <img class="img-fluid" src="../../assets/imagenes/donacion-plasma/plasma-aguja.jpg" alt>
                            <figcaption>Extracción del tubo de ensayo</figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="fondoAcordeon accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong>¿Para qué sirve el plasma?</strong>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>El plasma se utiliza para transfundir a pacientes por ejemplo con problemas de coagulación o para
                      el tratamiento de enfermedades hematológicas.</p>
                    <p class="mt-2">Pero el plasma también se utiliza para la elaboración de hemoderivados plasmáticos o medicamentos
                      que se usan para tratar diversas enfermedades como:</p>
                    <ul class="mb-2 mt-1">
                      <li><i class="peque fa-solid fa-droplet me-2"></i>La hemofilia</li>
                      <li><i class="peque fa-solid fa-droplet me-2"></i>Enfermedades neurológicas que afectan a la
                        marcha, por ejemplo la polineuropatía desmielinizante inflamatoria crónica o el síndrome de
                        Guillaim Barré.</li>
                      <li><i class="peque fa-solid fa-droplet me-2"></i>Las inmunodeficiencias primarias</li>
                    </ul>
                    <p>Para prevenir:</p>
                    <ul class="mb-2 mt-1">
                      <li><i class="peque fa-solid fa-heart-pulse me-2"></i>La enfermedad hemolítica del recién nacido por
                        incompatibilidad RH materno fetal.</li>
                    </ul>
                    <p>Para compensar:</p>
                    <ul class="mb-2 mt-1">
                      <li><i class="peque fa-solid fa-heart-pulse me-2"></i>Los niveles de albúmina bajos en pacientes con
                        grandes infecciones, en enfermos renales o grandes quemados.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="fondoAcordeon accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <strong>¿Por qué se necesitan más donantes?</strong>
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="container">
                      <div class="row">
                        <div class="col mb-3">
                          <p>
                            El plasma obtenido de las donaciones de sangre convencionales cubre todas las necesidades de
                            transfusión de los pacientes. Sin embargo, el plasma también se utiliza para obtener
                            proteínas plasmáticas (albúmina, inmunoglobulinas, factores de coagulación) que son usadas
                            como medicamentos.
                          </p>
                          <p>
                            En España no hay suficiente plasma donado para producir estos hemoderivados, necesarios para
                            el tratamiento de muchos pacientes. Por esta razón hay que importar los productos derivados.
                            De ahí la importancia y la necesidad de aumentar los donantes de plasma.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8 d-flex justify-content-center">
                          <figure class="mb-3 mt-2">
                            <img class="img-fluid" src="../../assets/imagenes/donacion-plasma/medicamentos.jpg" alt>
                            <figcaption>Medicamentos</figcaption>
                          </figure>
                        </div>
                        <div class="col-2"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="fondoAcordeon accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <strong>¿Soy apto o apta para donar?</strong>
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>¿Esta pensado en donar y no sabe si cumple los requisitos? Puede comprobarlos y
                      realizar nuestro test para ver si es apto o apta para donar, pinche en el botón ¿Puedo donar?</p>
                    <div class="d-flex justify-content-center mt-3 mb-1">
                      <button (click)="irASoyApto()" class="btn-secundario">¿Puedo donar?</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
